# 450+ Practice Questions That Will Make You a Pandas, NumPy, and SQL Pro!

Author: Avi Chawla

LinkedIn: https://www.linkedin.com/in/avi-chawla/

Read my blogs here: https://medium.com/@avi_chawla

## Introduction

This notebook has been created for you to practice three of the most common tools used in building any machine learning or data science applications, i.e., Pandas, NumPy, and SQL!

The practice questions provided will serve as a great resource for those who are looking to familiarize themselves with some of the most common functions used in these tools.

Appropriate descriptions have been provided for all the questions in this entire exercise which will help you navigate through this exercise easily. If a dataset is to be loaded in the python environment, that has also been provided for you. You can find it on the right panel in the Files section. Do NOT delete any of the files/folders listed there.

The whole exercise has been divided into nine separate notebooks. Below are the links to all the other notebooks for you to jump from one notebook to another:

- **Pandas**

1. Pandas Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-1-d693ac55-6455-40cf-ae34-867c6a02014e/%2Fnotebook.ipynb) 
2. Pandas Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-employee-dataset-7e3b6755-5d4b-464b-9b75-9c84667ae3bd/%2Fnotebook.ipynb) **(This Notebook)** 

3. Pandas Notebook 3: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-employee-part-2-adc5a3ee-5f61-4725-8e46-ccb07899acfc/%2Fnotebook.ipynb)

4. Pandas Notebook 4: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-after-employee-f84e02a1-fb6a-428e-af90-8dd99855749a/%2Fnotebook.ipynb)

- **NumPy**

1. NumPy Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Numpy-part-1-9b9979f2-b708-4292-b466-3d0157564c91/%2Fnotebook.ipynb)

2. NumPy Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/NumPy-Notebook-2-4456411e-2ddd-426d-8027-4881080027db/%2Fnotebook.ipynb)

3. NumPy Notebook 3: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/NumPy-Notebook-3-e6587114-b580-4249-b599-540de859e603/%2Fnotebook.ipynb)

- **SQL**

1. SQL Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/SQL-Notebook-1-eac9d782-a9b1-4e84-a1f9-af14080a6121/%2Fnotebook.ipynb)

2. SQL Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/SQL-Notebook-2-1914b214-be03-44a1-be63-ad99e98be639/%2Fnotebook.ipynb)

## How to use this notebook?

At the top right corner, you will find a Duplicate button. This will allow you to create a unique notebook for your own practice and write solutions to the question listed in this notebook.

If you face any issues or have any feedback, feel free to reach out to me (Avi Chawla) either on Linkedin: https://www.linkedin.com/in/avi-chawla/ or write an email to avi@dsscholar[dot]com.

Let's begin ðŸš€!

# Pandas Notebook 2

### 31. Read the CSV file.

In [ ]:
file_name = "employee_dataset.csv"

df = ## Write your code here.

### 32. Print the first 5 rows.

In [ ]:
df_temp = ## Write your code here.

print(df_temp)

### 33. Print the last 10 rows.

In [ ]:
df_temp = ## Write your code here.

print(df_temp)

### 34. Print the number of rows.

In [ ]:
rows = ## Write your code here.

print(rows)

### 35. Print the number of columns.

In [ ]:
columns = ## Write your code here.

print(columns)

### 36. Print all column names.

In [ ]:
column_names = ## Write your code here.

print(column_names)

### 37. Print the mean of Employee_Salary.

### 38. Print the mean of Employee_Rating.

### 39. Print the number of distinct Company_Name.

### 40. Print all the distinct Company_Name.

### 41. Print the number of employees working in the company "Nichols-James".

### 42-44. Print the maximum, minimum and median Employee_Salary.

### 45-49. Print the distribution of the following columns: (the frequency of individual entries).

1. Company_Name

2. Employee_Job_Title

3. Employee_City

4. Employee_Country

5. Employment_Status

### 50. Print the company with the most number of employees.

### 51. Print the number of employees in the above company.

### 52. Print the company with the least number of employees.

### 53. Print the number of employees in the above company.

### 54. Print the employee details with the maximum salary

### 55. Print the employee details with the maximum rating

### 56. Print the Company_Name with most number of employees in 'Wardfort' city.

### 57. Change the Data type of 'Employee_Salary' column to float.

### 58. Print the Employee_City with the most number of 'Production engineer'.

### 59. Print the Company_Name with the most number of Full-time Employees.

### 60. Print the Company_Name with the highest average 'Employee_Rating'.

### 61. Print the number of employees working in 'Ricardomouth' and 'Kristaburgh' location combined.

### 62. Print the distinct Company_Name corresponding to the 5 highest paid employees in the dataset.

### 63. Check if there are any duplicate rows in the DataFrame.

### 64. Check if any of the columns has NaN values.

### 65. Print the data type of every column in the DataFrame.

### 66. Print the Company_Name column only as a Series

### 67. Print the Company_Name column only as a DataFrame

### 68. Select the 'Employee_Job_Title' and 'Employee_City' column.

### 69. Print the number of employees with Employee_Rating greater than the average Employee_Rating

### 70. Find the employee which has the maximum salary among the ones with  the minimum Employee_Rating

### 71. Sort the DataFrame in ascending order of Employee_Salary

### 72. Sort the DataFrame in descending order of Employee_Rating

### 73. Print the name of 100th employee after sorting on Name

### 74. Print the first 5 rows of the first 5 columns.

### 75. Print the transpose of the first 5 rows

### 76. Print the number of employees whose first name starts with the letter 'V'.

### 77. Print the number of employees whose last name starts with the letter 'R'.

### 78. Select the rows 2 to 7 and the columns 3 to 7 (both included)

### 79. Select every row after the 10th row and select all columns.

### 80. Select every row up to the 10th row and select all columns.

### 81. Select rows with employee rating > 4.5.

### 82. Select rows with employee rating > 4.5 and < 4.8.

### 83. Print the name of the company with the maximum employees having rating > 4.

### 84. Print the rating of the employee named 'Julie Morton'.

### 85. Print the last 3rd entry in the column Employee_City

### 86. Print the Employee_City column as a list

### 87. Are the number of employees in 'Scott Inc' company greater than that in 'Andrade LLC'? Print True/False

### 88. Which is the most common first name in the dataframe?

### 89. Which is the least common last name in the dataframe?

### 90. What is the average name length?

Great job solving this notebook. Go to Pandas Notebook  3: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-employee-part-2-adc5a3ee-5f61-4725-8e46-ccb07899acfc/%2Fnotebook.ipynb)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=7e3b6755-5d4b-464b-9b75-9c84667ae3bd' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>