# Imports

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# Get data from the url using `requests`

In [2]:
# Info for headers were taken from https://www.useragentstring.com/

headers = {
    'User-Agent':
    'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36'
}

url = "https://en.wikipedia.org/wiki/List_of_national_capitals"

In [3]:
r = requests.get(url, headers=headers)

# Initiate `BeautifulSoup` and list elements

In [4]:
soup = BeautifulSoup(r.content, "html.parser")  # parse the html

In [5]:
table = soup.find_all('table')[1]  # There are 2 tables. The 2nd table is the one we want

In [6]:
rows = table.find_all('tr')

# Iterate through all of the rows in the table

In [7]:
row_list = list()

In [8]:
for tr in rows:
    td = tr.find_all('td')
    row = [i.text.rstrip('\n') for i in td]   # .rstrip('\n') added to remove '\n'
    row_list.append(row)

# Create Pandas Dataframe

In [9]:
df_bs = pd.DataFrame(row_list, columns=['City', 'Country', 'Notes']).dropna()  # .dropna() added to remove the row with none
df_bs.set_index('Country', inplace=True)
df_bs

,City,Notes
Country,,
Ivory Coast,Abidjan (former capital; still has many govern...,
United Arab Emirates,Abu Dhabi,
Nigeria,Abuja,Lagos was the capital from 1914 to 1991.
Ghana,Accra,
Pitcairn Islands,Adamstown,British Overseas Territory.
...,...,...
Namibia,Windhoek,
Cameroon,Yaoundé,
Nauru,Yaren (de facto),Country does not have an official capital; how...
Armenia,Yerevan,
Croatia,Zagreb,