# 1. Dataclasses help to remove the clutter

In [1]:
students = [("Jack", 168), ("Zhou", 172), ("Emma", 165), ("Shan", 170)]

In [2]:
import dataclasses


@dataclasses.dataclass
class Student:
    name: str
    height: int

In [3]:
students = [
    Student(name="Jack", height=168),
    Student(name="Zhou", height=172),
    Student(name="Emma", height=165),
    Student(name="Shan", height=170),
]

In [4]:
students[0].name

'Jack'

There’s many other cool things you can do with `dataclasses`. Such as,

- Make objects immutable (By using `@dataclasses.dataclass(frozen=True)`
- Defining getters and setters
- Use of the `dataclasses.field` for additional support for an attribute
- Convert to a dictionary (`.asdict()`) or tuple (`.astuple()`) for serialization and for compatibility reasons.

# 2. Compare in Python with style

In [5]:
students = [("Jack", 168), ("Zhou", 172), ("Emma", 165), ("Shan", 170)]
sorted_heights = sorted(students, key=lambda x: x[1])

In [6]:
sorted_heights

[('Emma', 165), ('Jack', 168), ('Shan', 170), ('Zhou', 172)]

In [7]:
students = [
    Student(name="Jack", height=168),
    Student(name="Zhou", height=172),
    Student(name="Emma", height=165),
    Student(name="Shan", height=170),
]

In [8]:
sorted_heights = sorted(students, key=lambda x: x.height)

In [9]:
sorted_heights

[Student(name='Emma', height=165),
 Student(name='Jack', height=168),
 Student(name='Shan', height=170),
 Student(name='Zhou', height=172)]

# 3. Make defaultdict your default

In [10]:
stock_prices = [
    ("abc", 95),
    ("foo", 20),
    ("abc", 100),
    ("abc", 110),
    ("foo", 18),
    ("foo", 25),
]

In [11]:
stock_price_dict = {}
for code, price in stock_prices:
    if code not in stock_price_dict:
        stock_price_dict[code] = [price]
    else:
        stock_price_dict[code].append(price)

In [12]:
stock_price_dict

{'abc': [95, 100, 110], 'foo': [20, 18, 25]}

In [13]:
from collections import defaultdict

stock_price_dict = defaultdict(list)
for code, price in stock_prices:
    stock_price_dict[code].append(price)

In [14]:
stock_price_dict

defaultdict(list, {'abc': [95, 100, 110], 'foo': [20, 18, 25]})

# 4. Say “I do” to the itertools

`itertools` is a built-in Python library for performing advance iterating over data structures with easy.

You may have had times in your life, where you want to iterate multiple lists to create a single list. In Python you might do:

In [15]:
student_list = [["Jack", "Mary"], ["Zhou", "Shan"], ["Emma", "Deepti"]]
all_students = []
for students in student_list:
    all_students.extend(students)

In [16]:
all_students

['Jack', 'Mary', 'Zhou', 'Shan', 'Emma', 'Deepti']

Would you believe that, with `itertools`, it is a one-liner?

In [17]:
import itertools

all_students = list(itertools.chain.from_iterable(student_list))

In [18]:
all_students

['Jack', 'Mary', 'Zhou', 'Shan', 'Emma', 'Deepti']

Say you want to remove students that are less than 170cm tall. With `itertools` that’s another one liner.

In [19]:
students = [
    Student(name="Jack", height=168),
    Student(name="Zhou", height=172),
    Student(name="Emma", height=165),
    Student(name="Shan", height=170),
]

above_170_students = list(itertools.dropwhile(lambda s: s.height < 170, students))

In [20]:
above_170_students

[Student(name='Zhou', height=172),
 Student(name='Emma', height=165),
 Student(name='Shan', height=170)]

There are many other useful functions such as `accumulate`, `islice`, `starmap`, etc. Use `itertools`, rather than reinventing the wheel that leads to unwieldy and inefficient code. By using `itertools` you get the added benefit of speed, as it has efficient CPython based implementation of its functionality underneath.

# 5. Packing/Unpacking arguments

In [21]:
# f1 unpacks arguments
def f1(a: str, b: str, c: str):
    return " ".join([a, b, c])


# f1 packs all arguments to args
def f2(*args):
    return " ".join(args)

In [22]:
f1("I", "love", "Python")

'I love Python'

In [23]:
f2("I", "love", "Python")

'I love Python'

In [24]:
f2("I", "love", "Python", "and", "argument", "packing")

'I love Python and argument packing'

In [25]:
def f3(**kwargs):
    return " ".join([f"{k}={v}" for k, v in kwargs.items()])

In [26]:
def f2(text_list: list[str]):
    return " ".join(text_list)

In [27]:
f2(("I", "love", "Python", "..."))

'I love Python ...'

`zip()` is a real-life function that accepts an arbitrary number of iterables. It creates several new lists by taking the first item of each iterable, the second item from each iterable and so on. For the following example, `zip()` lets you interchange between the two formats;

In [28]:
group1, group2 = zip(("a1", "b1"), ("a2", "b2"), ("a3", "b3"))

In [29]:
group1

('a1', 'a2', 'a3')

In [30]:
group2

('b1', 'b2', 'b3')

In [31]:
gr1, gr2, gr3 = zip(("a1", "a2", "a3"), ("b1", "b2", "b3"))

In [32]:
gr1

('a1', 'b1')

In [33]:
gr2

('a2', 'b2')

In [34]:
gr3

('a3', 'b3')

In [35]:
students = [("Jack", 168), ("Zhou", 172), ("Emma", 165), ("Shan", 170)]
sorted_students, _ = zip(*sorted(students, key=lambda x: x[1]))

In [36]:
sorted_students

('Emma', 'Jack', 'Shan', 'Zhou')

In [37]:
_

(165, 168, 170, 172)